<% include ../common/header.html %>

<div class="masthead">
    <div class="container">
        <h1 class="masthead-subtitle">
            Contact Us
        </h1>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="layout layout-stack-sm layout-main-left">
            <div class="col-sm-8 layout-main">
                <h3 class="content-title">
                    <span>Get in Touch</span>
                </h3>
                <p>Your feedback is important to us!</p>
                <br>
                <form class="form form-horizontal">
                    <div class="form-group">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label>Name: <span class="required">*</span></label>
                            <input class="form-control" id="name" name="name" type="text" value="" required="">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label>Email: <span class="required">*</span></label>
                            <input class="form-control" type="email" id="email" name="email" value="" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label>Subject: <span class="required">*</span></label>
                            <input class="form-control" id="subject" name="subject" type="text" value="" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label>Message: <span class="required">*</span></label>
                            <textarea class="form-control" id="text" name="text" rows="6" cols="40"
                                      required=""></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button class="btn btn-primary" type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-4 layout-sidebar">
                <h3 class="content-title">
                    <span>Office</span>
                </h3>
                <ul class="icons-list">
                    <li>
                        <i class="icon-li fa fa-map-marker"></i>
                        Fausto Cecconi 34 <br>
                        Frascati, RM 00044
                    </li>
                    <li>
                        <i class="icon-li fa fa-phone"></i>
                        +39 0000000000
                    </li>
                    <li>
                        <i class="icon-li fa fa-envelope"></i>
                        <a href="mailto:info@webgap.eu">info@webgap.eu</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<% include ../common/footer.html %>