<% include ../common/header.html %>

<div class="masthead">
    <div class="container">
        <h1 class="masthead-subtitle">
        </h1>
    </div>
</div>
<div class="content">
<div class="content">
    <div class="container">

        <h2 class="content-title">
            <span>Don't feel limited...</span>
        </h2>

        <p>
            Our goal is to ease the usage of GAP by providing an infrastructure where you don't need
            to care about
            installation, space or speed. With the support of the IDE - Integrated Development
            Environment - you can
            fast build your code with snippets and detect errors easily! WebGAP!
            No registration forms! Just login using one of your trusted providers...
            Choose the applications of your interest...
            Run them!
        </p>

        <h3 class="content-title">
            <span>Do you have any suggestions?</span>
        </h3>

        <p>
            Feel free to contact us through the following <a href="/contact">email &raquo;</a>
        </p>

        <p>
            Use our Issue Tracker: Suggestions / Bug Report <a
                href="https://bitbucket.org/mcmartins/webgap/issues">here &raquo;</a>
        </p>
    </div>
</div>

<% include ../common/footer.html %>