<% include ../common/header.html %>

<div class="masthead">
    <div class="container">
        <h1 class="masthead-subtitle">
            Terms and Conditions Agreement
        </h1>
    </div>
</div>
<div class="content">
    <div class="container">
        <h2 class="content-title"><u>Conditions</u></h2>
        <p>By accessing our website, you understand and agree to be bound by these website <a href="/terms">Terms of
            Service</a> and <a href="/disclaimer">Disclaimer</a>.</p>
        </br>
        <h3>If you accept the conditions, please login using one of the following providers:</h3>
        </br>
        <div class="row">
        <% providers.forEach(function(provider) { %>
            <div class="col-lg-4" style="margin-bottom: 5px">
                <a class="btn btn-block btn-social btn-<%= provider.name %>" href="/auth/<%= provider.name %>">
                    <i class="fa fa-<%= provider.name %>"></i> Sign in with <%= provider.name %>
                </a>
            </div>
        <% }); %>
        </div>
    </div>
</div>

<% include ../common/footer.html %>