<% include ../../common/header.html %>

<div class="container">
    <div class="portlet">
        <h2 class="portlet-title">
            <span>Add Application</span>
        </h2>
        <% include ../form/alpaca.html %>
    </div>
</div>

<% include ../../common/footer.html %>