<% include ../../common/header.html %>

<div class="content">
    <div class="container">
        <div class="portlet">
            <h2 class="portlet-title">
                <span>All Applications</span>
            </h2>

            <p style="padding-bottom: 10px;" class="caption">
                Found <%= apps.length %> application(s)
                <span style="float: right;">
                   [ filtering: <b><% if (!tag) { %>none<% } else { %><%= tag %><% } %></b> ]
                </span>
            </p>

            <div class="portlet-body">
                <% apps.forEach(function(app) { %>
                <div class="row" style="margin-bottom: 20px; margin-left: 10px; border-bottom: 1px solid #e7e7e7;">
                    <div style="float: left; margin-right: 10px;text-align: center">
                        <% if (app.logo) { %>
                        <img style="width: 64px; margin: 15px 10px;" src="<%= app.logo %>"/>
                        <% } else { %>
                        <i style="font-size: 64px; margin: 15px 10px;" class="fa fa-terminal"></i>
                        <% } %>
                    </div>
                    <div style="float: left;  width: 80%;">
                        <h4 style="color: #428bca; padding-bottom: 1px; margin-bottom: 1px;"><%= app.name %> <span
                                style="margin-left: 10px; font-size: 75%">Version <%= app.version %></span></h4>

                        <p><%= app.type %> | <%= app.os %> | Managed by <%= app.owner %></p>

                        <div style="padding-bottom: 10px;" class="description"><%=: app.description %></div>

                        <div>
                            <p style="float: left">
                                <% app.tags.forEach(function(tag) { %>
                                <a href="?tag=<%= tag %>">
                                    <span class="label label-app row-stat-badge"><%=: [tag, 15] | truncate %></span>
                                </a>
                                <% }); %>
                            </p>

                            <div style="float: right">
                                <a href="/account/applications/add/<%= app.id %>" class="btn btn-default btn-xs">
                                    Add to my workspace
                                </a>
                                <% if (user.roles.some(function(element) {return 'admin'.indexOf(element) > -1})) { %>
                                <a href="/market/applications/delete/<%= app.id %>"
                                   class="btn btn-default btn-xs">Delete application
                                </a>
                                <a href="/market/applications/update/<%= app.id %>"
                                   class="btn btn-default btn-xs">Update application
                                </a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<script>
    // shorten all descriptions
    $('.description').shorten({
        showChars: '300'
    });
</script>

<% include ../../common/footer.html %>