<% include ../../common/header.html %>

<div class="content">
    <div class="container">
        <div class="col-md-12">
            <div class="portlet">
                <h2 class="portlet-title">
                    <span class="icon-li fa fa-shopping-cart">&nbsp;Marketplace</span>
                </h2>

                <div class="portlet-body">
                    <div id="carousel-market" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <% applications.forEach(function(application, index) { %>
                            <li data-target="#carousel-market" data-slide-to="<%= index %>"
                                class="<% if (index==0) { %>active<% } %>"></li>
                            <% }); %>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <% applications.forEach(function(application, index) { %>
                            <div class="item <% if (index==0) { %>active<% } %>">
                                <div class="thumbnail">
                                    <div>
                                        <% if (application.logo) { %>
                                        <img style="width: 64px; height:64px; margin: 15px 10px;"
                                             src="<%= application.logo %>"/>
                                        <% } else { %>
                                        <i style="font-size:64px; margin: 15px 10px;" class="fa fa-terminal"></i>
                                        <% } %>
                                    </div>
                                    <div class="caption">
                                        <h3><%= application.name %> v<%= application.version %></h3>

                                        <p><%=: [application.description, 170] | truncate %></p>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                        </div>
                        <a class="left carousel-control" href="#carousel-market" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-market" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <ul class="icons-list">
                            <li>
                                <i class="icon-li fa fa-check text-primary"></i>
                                Explore our applications
                            </li>
                            <li>
                                <i class="icon-li fa fa-check text-primary"></i>
                                Add applications to your workspace
                            </li>
                            <li>
                                <i class="icon-li fa fa-check text-primary"></i>
                                Use them Synchronously / Asynchronously
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="icons-list">
                            <% if (authorizator.hasAccess(user, ['admin', 'provider'])) { %>
                            <li>
                                <a href="/market/applications/new" style="width:100%" class="btn btn-default btn-xs">Add
                                    application</a>
                            </li>
                            <% } %>
                            <li>
                                <a href="/market/applications/list" style="width:100%" class="btn btn-default btn-xs">List all
                                    applications</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../../common/footer.html %>
