<input id="search" type="text" class="form-control input-md mainnav-search-query" placeholder="Search">
<div id="search-results"></div>
<script>
    $(function () {
        $('#search').on('keyup', function (e) {
            if (e.keyCode === 13) {
                var parameters = {tag: $(this).val()};
                $.get('/market/applications/list?', parameters, function (data) {
                    if (data instanceof Array) {
                        $("#search-results").html(data);
                    } else {
                        $("#search-results").html(data);
                    }
                });
            }
        });
    });
</script>