<% include ../common/header.html %>

<style type="text/css" scoped>
    h1 {
        margin: 0 10px;
        font-size: 50px;
        text-align: center;
    }

    h1 span {
        color: #bbb;
    }

    h3 {
        margin: 1.5em 0 0.5em;
    }

    p {
        margin: 1em 0;
    }
</style>
<div class="error-container">
    <h1>Oops <span>:(</span></h1>

    <div style="text-align: center;">
        <p>Please try again later and if the problem persists contact the
        administrator...</p>
    </div>
</div>

<% include ../common/footer.html %>