<% include header.html %>

<div class="content">
    <div class="container">
        <div class="error-container">
            <div class="error-code">
                404
            </div>
            <div class="error-details">
                <h4>Oops, <span class="text-primary">It seems you're lost...</span>.</h4>
                <p>We can not find the page you're looking for.</br></br> Is there a typo in the url?</p>
            </div>
        </div>
    </div>
</div>

<% include ../common/footer.html %>