<% include header.html %>

<div class="content">
    <div class="container">
        <div class="error-container">
            <div class="error-code">
                408
            </div>
            <div class="error-details">
                <h4>There was a problem serving the requested page.</h4>
                <br>
                <p><strong>What should I do:</strong></p>
                <ul class="icons-list">
                    <li>
                        <i class="icon-li fa fa-check-square-o"></i>
                        you can try refreshing the page, the problem may be temporary
                    </li>
                    <li>
                        <i class="icon-li fa fa-check-square-o"></i>
                        Nothing! we've been notified of the problem and will do our best to make sure it doesn't happen
                        again!
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<% include footer.html %>