</div>

<% include notifications.html %>

<% if (typeof user == 'undefined') { %>
<script src="/js/landing/mvpready-landing.js"></script>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="content-title">
                    <span>WebGAP</span>
                </h4>
                Started has a PhD project, WebGAP aims to serve as web interface to GAP by providing a fast and easy way to run it.
                <br/>
                <br/>
                More than just serving GAP! This is a service that allows the execution of any command line tool over the web.
                <br/>
                <br/>
                WebGAP, don't feel limited!
            </div>
            <div class="col-sm-3">
                <h4 class="content-title">
                    <span>Documentation</span>
                </h4>

                <p>Please read carefully our conditions:</p>
                <ul>
                    <li>
                        <a href="/disclaimer">Disclaimer</a>
                    </li>
                    <li>
                        <a href="/terms">Terms and Conditions</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4 class="content-title">
                    <span>More</span>
                </h4>
                <p>WebGAP is an OpenSource project:</p>
                <ul>
                    <li>
                        <a href="https://bitbucket.org/mcmartins/webgap">Source Code</a>
                    </li>
                    <li>
                        <a href="https://gratipay.com/mcmartins/">Donate</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<footer class="copyright">
    <% } else { %>
    <script src="/js/backend/mvpready-admin.js"></script>
    <script src="/js/backend/mvpready-account.js"></script>
    <footer class="footer">
        <% } %>
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="text-align: center;">
                    <p>&copy;&nbsp;2015&nbsp;<span>WebGAP<span style="font-size: 10px">&nbsp;v0.1.0&nbsp;</span></span>&nbsp;@&nbsp;CEMAT</p>
                </div>
            </div>
    </footer>
    <script>
        document.domain = 'webgap.eu';//'@@domain';
    </script>
    </body>
    </html>