<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]>
<html lang="en" class="no-js">
<![endif]-->
<head>
    <title>WebGAP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@@description">
    <meta name="author" content="Manuel Martins">

    <link rel="humans" href="/humans.txt" />
    <link rel="robots" href="/robots.txt" />

    <!-- // TODO check everything here -->
    <link rel="stylesheet" href=//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oswald:400,300,700" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" />
    <% if (typeof user == 'undefined') { %>
    <link rel="stylesheet" href="/css/landing/mvpready-landing-belize.css" />
    <% } else { %>
    <link rel="stylesheet" href="/css/backend/mvpready-admin-belize.css" />
    <% } %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.8.0/bootstrap-social.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="/css/alpaca/alpaca.min.css" />
    <link rel="stylesheet" href="/css/mvpready-flat.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <!--// TODO all javascript should be added to the footer and be included in one file-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.fileupload/9.9.0/js/jquery.fileupload.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.fileupload/9.9.0/js/jquery.fileupload-ui.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.fileupload/9.9.0/js/jquery.fileupload-process.js"></script>
    <script src="/js/vendor/jquery/jquery-shorten/jquery.shorten.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.0/less.min.js"></script>
    <script src="/js/mvpready-core.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/vendor/alpaca/alpaca.min.js"></script>
</head>
<body>
<div id="wrapper">

<% include top-menu.html %>
<% if (typeof user != 'undefined') { %>
<% include top-sub-menu.html %>
<% } %>
