<% if (typeof message != 'undefined') { %>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script>
  toastr.options = {
    "closeButton": true,
    "debug": false,
    "newestOnTop": true,
    "positionClass": "toast-top-center",
    "preventDuplicates": true,
    "onclick": null,
    "showDuration": "500",
    "hideDuration": "1000",
    "timeOut": "60000",
    "extendedTimeOut": "30000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  };
  toastr['<%= message.type %>']("<%=: [message.text, message.data] | i18n %>", "<%=: [message.title, message.data] | i18n %>");
</script>
<% } %>
<% if (typeof user != 'undefined') { %>
<script>
  $(function () {

    /**
     * Handles notification loading
     */
    function loadNotifications() {
      $.post('/notifications/list/unread', function (html) {
        if (html && html.indexOf('success-loaded') > -1) {
          // update popup
          $('#notificationsMenu').html(html);
          // update count of messages
          updateCount();
          // add events to mark as read
          $('li.notification-not-seen').click(function markAsRead() {
            var notification = this;
            $(notification).removeClass("notification-not-seen");
            // update count of messages
            updateCount();
            $.post('/notifications/mark-read/' + notification.id);
          });
        } else if (html) {
          document.body.innerHTML = '<div class=\"content\">'
                  + '<div class=\"container\">'
                  + '<div class=\"error-container\">'
                  + '<div class=\"error-code\" style="font-weight: 200">'
                  + 'Redirecting'
                  + '</div>'
                  + '<div class="error-details">'
                  + '<h4>Oops, <span class="text-primary">something happened and you will be redirected to the login page in 5 seconds.</span>.'
                  + '</h4>'
                  + '<p>Maybe the session expired.</br></br>Maybe the server went down.</br></br>Please contact us if'
                  + '       this happens frequently.</p>'
                  + '</div>'
                  + '</div>'
                  + '</div>';
          setTimeout(function () {
            window.location.href = "/auth/login";
          }, 5000);
        }
      });
    }

    /**
     * Handles UI updates
     */
    function updateCount() {
      var count = $('li.notification-not-seen').length;
      if (count > 0) {
        $('#notificationsCount').text(count);
      } else {
        $('#notificationsCount').text('');
      }
    }

    // load notifications every minute
    setInterval(function () {
      loadNotifications();
    }, 60000);

    // load notifications first time
    loadNotifications();
  });
</script>
<% } %>