<header class="navbar navbar-inverse" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-cog"></i>
            </button>
            <a href="/" class="navbar-brand navbar-brand-img" style="padding-top: 10px">
                <img src="/img/webgap_top.png" width="133px" height="32" alt="WebGAP">
            </a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <% if (typeof user == 'undefined') { %>
                <li class="<% if (url == '/features') { %>active<% } %>">
                    <a href="/features">Features</a>
                </li>
                <li class="<% if (url == '/faq') { %>active<% } %>">
                    <a href="/faq">FAQ</a>
                </li>
                <li class="<% if (url == '/contact') { %>active<% } %>">
                    <a href="/contact">Contacts</a>
                </li>
                <li class="<% if (url == '/auth') { %>active<% } %>">
                    <a href="/auth/login">
                        <i class="fa fa-sign-in"></i>
                        &nbsp;&nbsp;<%=: 'menu.login' | i18n %></a>
                </li>
                <% } else { %>
                <li class="<% if (url == '/status') { %>active<% } %>>">
                    <a href="/status"><i class="fa fa-flash"></i>&nbsp;&nbsp;<%=: 'menu.status' | i18n %></a>
                </li>
                <li class="<% if (url == '/help') { %>active<% } %>">
                    <a href="/help"><%=: 'menu.help' | i18n %></a>
                </li>
                <li class="<% if (url.indexOf('market')>-1) { %>active<% } %>">
                    <a href="/market"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;<%=: 'menu.market' | i18n %></a>
                </li>
                <li class="dropdown <% if (url.indexOf('service')>-1) { %>active<% } %>">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        Workspace&nbsp;
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/account/dashboard">
                                <i class="fa fa-dashboard"></i>
                                &nbsp;&nbsp;Workspace
                            </a>
                        </li>
                        <li>
                            <a href="/account/ide">
                                <i class="fa fa-edit"></i>
                                &nbsp;&nbsp;IDE
                            </a>
                        </li>
                    </ul>
                </li>
                <% if (user.roles.some(function(element) {return 'admin'.indexOf(element) > -1})) { %>
                <li class="dropdown <% if (url.indexOf('dashboard')>-1) { %>active<% } %>">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        Administrator&nbsp;
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/admin">
                                <i class="fa fa-dashboard"></i>
                                &nbsp;&nbsp;Dashboard
                            </a>
                        </li>
                    </ul>
                </li>
                <% } %>
                <li class="dropdown navbar-profile <% if (url.indexOf('account')>-1) { %> active <% } %>">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        <span><%= user.name %></span>&nbsp;
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/account/profile">
                                <i class="fa fa-user"></i>
                                &nbsp;&nbsp;My Profile
                            </a>
                        </li>
                        <li>
                            <a href="/account/settings">
                                <i class="fa fa-cogs"></i>
                                &nbsp;&nbsp;Settings
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/auth/logout">
                                <i class="fa fa-sign-out"></i>
                                &nbsp;&nbsp;Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav noticebar navbar-left">
                <li class="dropdown">
                    <a id="notifications" href=""
                       class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-inbox"></i>
                        <span class="navbar-visible-collapsed">&nbsp;&nbsp;Notifications</span>
                        <span id="notificationsCount" class="badge badge-primary"></span>
                    </a>
                    <ul id="notificationsMenu" class="dropdown-menu noticebar-menu noticebar-hoverable"
                        role="menu"></ul>
                </li>
            </ul>
            <% } %>
        </nav>
    </div>
</header>
