<% include ../../common/header.html %>

<div class="content">
    <div class="container">
        <h2>Hi <%= user.name %>,</h2>

        <h3>What do you need to do?</h3>

        <div class="col-lg-6">
            <h4>Users:</h4>

            <p>List Users <a href="/admin/users">here &raquo;</a></p>
        </div>

        <div class="col-lg-6">
            <h4>Accounts:</h4>

            <p>Requests <a href="/admin/accounts">here &raquo;</a></p>
        </div>

        <div class="col-lg-6">
            <h4>Statistics:</h4>

            <p>Check Nodes <a href="/admin/stats">here &raquo;</a></p>
        </div>

        <div class="col-lg-6">
            <h4>Configurations:</h4>

            <p>General <a href="/admin/configurations">here &raquo;</a></p>
        </div>

        <div class="col-lg-6">
            <h4>Keep Alive System:</h4>

            <p>Service <a href="http://webgap-keep-alive.appspot.com">here &raquo;</a></p>
            <p>Admin <a href="https://appengine.google.com">here &raquo;</a></p>

        </div>

        <div class="col-lg-6">
            <h4>Market Applications</h4>

            <p>Add new <a href="/market/applications/new">here &raquo;</a></p>

        </div>

    </div>
</div>

<% include ../../common/footer.html %>