<div class="content">
    <div id="form"></div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header"></div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
                <a id="submit" href="/" class="btn btn-default btn-sm navbar-btn">Submit</a>
                <a id="cancel" href="/" class="btn btn-default btn-sm navbar-btn">Cancel</a>
            </div>
        </div>
    </nav>
</div>

<script type="text/javascript">

    $(function () {
        var alpaca = undefined;
        $("#form").alpaca({
            "data": JSON.parse('<%- form.data %>'),
            "schemaSource": '<%- form.schema %>',
            "optionsSource": '<%- form.options %>',
            "viewSource": '<%- form.view %>',
            "postRender": function (control) {
                alpaca = control;
                // remove submit from alpaca form in order to ensure only 1 submit button
                $('*[data-alpaca-wizard-button-key="submit"]').remove();
            }
        });

        $('#submit').on('click', function () {
            alpaca.refreshValidationState(true);
            if (!alpaca.isValid(true)) {
                return false;
            } else {
                $.post("<%= form.action %>", alpaca.getValue());
            }
        });
    });

</script>
