<!--script src="/js/vendor/json-editor/jsoneditor.min.js"></script-->
<script src="/js/vendor/json-editor/jsoneditor.js"></script>

<div class="content">
    <div id="form"></div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header"></div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
                <a id="submit" href="/" class="btn btn-default btn-sm navbar-btn">Submit</a>
                <a id="cancel" href="/" class="btn btn-default btn-sm navbar-btn">Cancel</a>
            </div>
        </div>
    </nav>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var element = document.getElementById('form');
        var editor = new JSONEditor(element, {
            schema: JSON.parse('<%- form.schema %>'),
            ajax: true,
            disable_properties: true,
            disable_edit_json: true,
            disable_collapse: true,
            disable_array_reorder: true,
            object_layout: 'grid',
            show_errors: 'change',
            theme: 'bootstrap3',
            iconlib: 'bootstrap3'
        });

        editor.on('ready', function () {
            // add value if exists
            var data = '<%- form.data %>';
            if (data) {
                editor.setValue(JSON.parse(data));
            }
            // add validation and submit events
            $('#submit').on('click', function() {
                var errors = editor.validate();
                if(errors.length) {
                    editor.options.show_errors = "always";
                    editor.onChange();
                    return false;
                }
                else {
                    // TODO change to POST
                    $(this).attr('href', '<%= form.submitUrl %>?json=' + JSON.stringify(editor.getValue()));
                }
            });
            $('#cancel').on('click', function() {
                $(this).attr('href', '<%= form.cancelUrl %>');
            });
        });
    });

</script>