<% include ../../common/header.html %>

<script src="/js/vendor/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/vendor/ace/ext-settings_menu.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/vendor/ace/ext-statusbar.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/vendor/ace/ext-chromevox.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/vendor/ace/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>

<div class="container">
    <div class="layout-main-right layout-stack-sm">
        <div class="col-sm-2 layout-sidebar">
            <div class="nav-layout-sidebar-skip"><strong>Tab Navigation</strong> / <a href="#workspace-content">Skip
                to Content</a></div>
            <ul class="nav nav-layout-sidebar nav-stacked">
                <li class="active"><a href="#ide-tab" data-toggle="tab">
                    <i class="fa fa-edit"></i> &nbsp;&nbsp;IDE</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10 layout-main">
            <div class="tab-content stacked-content">
                <div class="tab-pane fade in active" id="ide-tab">
                    <div id="ide">
                        <div id="toolbar">
                            <div class="dropdown" style="float: left;">
                                <span class="glyphicon glyphicon-cog" id="dropdownMenu1" data-toggle="dropdown"></span>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Font Size</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Beautify</a></li>
                                </ul>
                            </div>
                            <span class="glyphicon glyphicon-file" onclick="editor.getSession().setValue('')"></span>
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <span class="glyphicon glyphicon-floppy-save"></span>
                            <span class="glyphicon glyphicon-arrow-down" onclick="editor.execCommand('goToNextError')"></span>
                            <span class="glyphicon glyphicon-arrow-up" onclick="editor.execCommand('goToPreviousError')"></span>
                            <span class="glyphicon glyphicon-cloud-download"></span>
                            <span class="glyphicon glyphicon-cloud-upload"></span>
                            <span class="glyphicon glyphicon-print"></span>
                            <span class="glyphicon glyphicon-search" onclick="editor.execCommand('replace')"></span>
        <span class="glyphicon glyphicon-envelope"
              onclick="javascript:window.open('mailto:?subject=WebGAP Code&body='+editor.getSession().getValue(),'')"></span>
                        </div>
                        <pre id="editor"></pre>
                        <div id="statusBar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var editor = ace.edit("editor");
    ace.require("ace/ext/emmet");
    ace.require("ace/ext/chromevox");
    ace.require("ace/ext/language_tools");
    ace.require('ace/ext/settings_menu').init(editor);
    var StatusBar = ace.require('ace/ext/statusbar').StatusBar;
    var statusBar = new StatusBar(editor, document.getElementById('statusBar'));
    editor.setTheme("ace/theme/chrome");
    editor.getSession().setMode("ace/mode/gap");
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true
    });
    editor.setBehavioursEnabled(true);
    editor.getSession().setUseWorker(true);
    window.onbeforeunload = function () {
        return "Data will be lost if you leave the page, are you sure you want to leave?";
    };
</script>

<% include ../../common/footer.html %>