<% include ../../common/header.html %>

<div class="container" style="margin: 0; padding: 0;">
    <div class="layout-main-right layout-stack-sm">
        <div class="col-sm-2 layout-sidebar">
            <div class="nav-layout-sidebar-skip"><strong>Tab Navigation</strong> / <a href="#workspace-content">Skip
                to Content</a></div>
            <ul class="nav nav-layout-sidebar nav-stacked">
                <li class="active"><a href="#terminal-tab" data-toggle="tab">
                    <i class="fa fa-terminal"></i> &nbsp;&nbsp;Terminal</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10 layout-main">
            <div class="tab-content stacked-content">
                <div class="tab-pane fade in active" id="terminal-tab">
                    <img id="loader" class="loader" src="/img/ajax-loader.gif" alt="loading, please wait..."/>
                    <iframe style="overflow:hidden; clear:both; background-color: #000000"
                            scrolling="no" id="shell" src="<%=: terminalUrl %>"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onbeforeunload = function () {
        return "The workspace session will be closed if you leave this page. Are you sure you want to leave?";
    };
    $(document).ready(function () {
        $('#shell').on('load', function () {
            $('#loader').hide();
        });
    });
</script>

<% include ../../common/footer.html %>