<% include ../../common/header.html %>

<div class="masthead">
    <div class="container">
        <h1 class="masthead-subtitle">
            Disclaimer
        </h1>
    </div>
</div>
<div class="content">
    <div class="container">

        <h2>Privacy Policy</h2>

        <p>This Privacy Policy was last modified on May 15, 2014.</p>

        <p>WebGAP ("us", "we", or "our") operates portal.webgap.eu (the "Site"). This page informs you of our policies
            regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</p>

        <p>We use your Personal Information only for providing and improving the Site. By using the Site, you agree to
            the collection and use of information in accordance with this policy. Unless otherwise defined in this
            Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions,
            accessible at portal.webgap.eu.</p>

        <h3>Information Collection And Use</h3>

        <p>While using our Site, we may ask you to provide us with certain
            personally identifiable information that can be used to contact or identify you. Personally identifiable
            information may include, but is not limited to, your name and email address ("Personal Information").</p>

        <h3>Log Data</h3>

        <p>Like many site operators, we collect information that your browser sends whenever you
            visit our Site ("Log Data"). This Log Data may include information such as your computer's Internet Protocol
            ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of
            your visit, the time spent on those pages and other statistics.</p>

        <h3>Cookies</h3>

        <p>Cookies are files with small amount of data, which may include an anonymous unique
            identifier. Cookies are sent to your browser from a WebGAP site and stored on your computer's hard
            drive.</p>

        <p>Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies
            or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to
            use some portions of our Site.</p>

        <h3>Security</h3>

        <p>The security of your Personal Information is important to us, but remember that no method
            of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use
            commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute
            security. We do not store any password in our systems.</p>

        <h3>Links To Other Sites</h3>

        <p>Our Site may contain links to other sites that are not operated by us. If you
            click on a third party link, you will be directed to that third party's site. We highly advise you to review
            the Privacy Policy of every site you visit.</p>

        <p>WebGAP has no control over, and assumes no responsibility for, the content, privacy policies, or practices of
            any third party sites or services.</p>

        <h3>Changes To This Privacy Policy</h3>

        <p>WebGAP may update this Privacy Policy from time to time. We will
            notify you of any changes by posting the new Privacy Policy on the Site. You are advised to review this
            Privacy Policy periodically for any changes.</p>

        <h3>Contact Us</h3>

        <p>If you have any questions about this Privacy Policy, please contact us.</p>

        <p><a href="/contact">portal.webgap.eu</a></p>

        <p style="font-size: 85%; color: #999;">Generated with permission from <a
                href="http://termsfeed.com/privacy-policy/generator/" title="TermsFeed"
                style="color: #999; text-decoration: none;">TermsFeed Generator</a>.</p>
    </div>
</div>


<% include ../../common/footer.html %>