<% include ../../common/header.html %>
<div class="masthead">
    <div class="container">
        <h1 class="masthead-subtitle">
            Terms and Conditions
        </h1>
    </div>
</div>
<div class="content">
    <div class="container">
        <h2>"Agreement"</h2>

        <p>This Agreement was last modified on May 15, 2014.</p>

        <p>Please read these Terms and Conditions ("Agreement", "Terms and Conditions") carefully before using
            portal.webgap.eu ("the Site") operated by WebGAP ("us", "we", or "our").
            This Agreement sets forth the legally binding terms and conditions for your use of the Site at
            portal.webgap.eu.</p>

        <p>By accessing or using the Site in any manner, including, but not limited to, visiting or browsing the Site or
            contributing content or other materials to the Site, you agree to be bound by these Terms and Conditions.
            Capitalized terms are defined in this Agreement.</p>

        <h3>Intellectual Property</h3>

        <p>The Site and its original content, features and functionality are
            owned by WebGAP and are protected by international copyright, trademark, patent, trade secret and other
            intellectual property or proprietary rights laws.</p>

        <h3>Termination</h3>

        <p>We may terminate your access to the Site, without cause or notice, which may
            result in the forfeiture and destruction of all information associated with you. All provisions of this
            Agreement that by their nature should survive termination shall survive termination, including, without
            limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</p>

        <h3>Links To Other Sites</h3>

        <p>Our Site may contain links to third-party sites that are not owned or controlled by WebGAP.</p>

        <p>WebGAP has no control over, and assumes no responsibility for, the content, privacy policies, or practices of
            any third party sites or services. We h3ly advise you to read the terms and conditions and privacy
            policy of any third-party site that you visit.</p>

        <h3>Governing Law</h3>

        <p>This Agreement (and any further rules, polices, or guidelines incorporated
            by reference) shall be governed and construed in accordance with the laws of portugal, without giving effect
            to any principles of conflicts of law.</p>

        <h3>Your Consent</h3>

        <p>By using our site, you consent to our web site privacy policy.</p>

        <h3>Changes To This Agreement</h3>

        <p>We reserve the right, at our sole discretion, to modify or
            replace these Terms and Conditions by posting the updated terms on the Site. Your continued use of the Site
            after any such changes constitutes your acceptance of the new Terms and Conditions.</p>

        <p>Please review this Agreement periodically for changes. If you do not agree to any of this Agreement or any
            changes to this Agreement, do not use, access or continue to access the Site or discontinue any use of the
            Site immediately.</p>

        <h3>Contact Us</h3>

        <p>If you have any questions about this Agreement, please contact us:</p>

        <p><a href="/contact">portal.webgap.eu</a></p>

        <p style="font-size: 85%; color: #999;">Generated with permission from <a
                href="http://termsfeed.com/terms-conditions/generator/" title="TermsFeed"
                style="color: #999; text-decoration: none;">TermsFeed Generator</a>.</p>
    </div>
</div>

<% include ../../common/footer.html %>