<% include ../../common/header.html %>

<div class="container">

    <div class="row">

        <div class="col-md-8">

            <h2>Your Notifications</h2>

            <br><br>

            <h4 class="content-title"><u>Sent Today</u></h4>

            <ul class="icons-list notifications-list">
                <li>
                    <i class="icon-li fa fa-ban text-danger"></i>
                    <a href="javascript:;">Nikita Williams</a> rejected an <a href="javascript:;">Action Step</a> from
                    you
                </li>

                <li>
                    <i class="icon-li fa fa-check-circle text-success"></i>
                    <a href="javascript:;">You</a> accepted an <a href="javascript:;">Action Step</a> from <a
                        href="javascript:;">Scott Marshall</a>
                </li>
            </ul>

            <br>

            <h4 class="content-title"><u>Sent Yesterday</u></h4>

            <ul class="icons-list notifications-list">
                <li>
                    <i class="icon-li fa fa-eye text-secondary"></i>
                    <a href="javascript:;">You</a> watched the project <a href="javascript:;">MVP Ready Development</a>
                </li>
            </ul>

        </div>

        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Start date</th>
                <th>Salary</th>
                <th>Salary</th>
            </tr>
            </thead>

            <tfoot>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Start date</th>
                <th>Salary</th>
                <th>Salary</th>
            </tr>
            </tfoot>
        </table>

    </div>

</div>

<% include ../../common/footer.html %>

<script src="/js/pipelining.js"></script>