<span style="display: none" class="success-loaded"></span>
<% if (typeof notifications !== 'undefined') { %>
<li class="nav-header">
  <div class="pull-left"><span id="count"><%= notifications.length %></span> unread notifications</span>
  </div>
  <!--div class="pull-right">
    <a href="">Mark all as read</a>
  </div-->
</li>
<% notifications.every(function(notification, index, array) { %>
<% if (index > 4) { %>
<% return false; %>
<% } %>
<li class="<% if (!notification.read) { %>notification-not-seen<% } %>" id="<%= notification.id %>">
  <a class="noticebar-item">
        <span class="noticebar-item-image"><i
                class="fa fa-<%= notification.message.type %> text-<%= notification.action.status %>"></i></span>
            <span class="noticebar-item-body" title="<%= notification.message.text %>">
                <strong class="noticebar-item-title"><%= notification.message.title %></strong>
                <span class="noticebar-item-text"><%=: [notification.message.text, 100] | truncate %></span>
                <span class="noticebar-item-time"><i class="fa fa-clock-o"></i>&nbsp;<%=: notification.createDate | formatTimeFromNow %></span>
            </span>
  </a>
</li>
<% return true; %>
<% }); %>
<li class="noticebar-menu-view-all">
  <a href="/notifications/list">View All</a>
</li>
<% } else { %>
<li class="noticebar-empty">
  <h4 class="noticebar-empty-title">No notifications.</h4>

  <p class="noticebar-empty-text">Nothing to show!</p>
</li>
<% } %>