<div data-alpaca-wizard-description="New application form">

    <div class="row" data-alpaca-wizard-role="step" data-alpaca-wizard-step-title="Basics"
         data-alpaca-wizard-step-description="Basic Information">

        <div class="col-md-6">
            <div class="portlet">
                <h4 class="portlet-title">
                </h4>

                <div class="portlet-body">
                    <div data-alpaca-layout-binding="name"></div>
                    <div data-alpaca-layout-binding="version"></div>
                    <div data-alpaca-layout-binding="description"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet">
                <h4 class="portlet-title">
                </h4>

                <div class="portlet-body">
                    <div data-alpaca-layout-binding="logo"></div>
                    <div data-alpaca-layout-binding="tags"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" data-alpaca-wizard-role="step" data-alpaca-wizard-step-title="Visibility"
         data-alpaca-wizard-step-description="Who will use it">

        <div class="col-md-8">
            <div class="portlet">
                <h4 class="portlet-title">
                </h4>

                <div class="portlet-body">
                    <div data-alpaca-layout-binding="visibility"></div>
                    <div data-alpaca-layout-binding="private"></div>
                    <div data-alpaca-layout-binding="access"></div>
                    <div data-alpaca-layout-binding="os"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" data-alpaca-wizard-role="step" data-alpaca-wizard-step-title="Access"
         data-alpaca-wizard-step-description="How it works">
        <div class="col-md-8">
            <div class="portlet">
                <h4 class="portlet-title">
                </h4>

                <div class="portlet-body">
                    <div data-alpaca-layout-binding="ssh"></div>
                    <div data-alpaca-layout-binding="vnc"></div>
                    <div data-alpaca-layout-binding="api"></div>
                    <div data-alpaca-layout-binding="asy"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" data-alpaca-wizard-role="step" data-alpaca-wizard-step-title="Compilation"
         data-alpaca-wizard-step-description="Source code?">
        <div class="col-md-8">
            <div class="portlet">
                <h4 class="portlet-title">
                </h4>

                <div class="portlet-body">
                    <div data-alpaca-layout-binding="archive"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" data-alpaca-wizard-role="step" data-alpaca-wizard-step-title="Binaries"
         data-alpaca-wizard-step-description="URL / Archive to Upload">
        <div class="col-md-8">
            <div class="portlet">
                <h4 class="portlet-title">
                </h4>

                <div class="portlet-body">
                    <div data-alpaca-layout-binding="archive"></div>
                </div>
            </div>
        </div>
    </div>

</div>