<div>
    <div class="row">
        <div class="col-md-6">
            <div class="portlet">
                <h4 class="portlet-title">
                </h4>

                <div class="portlet-body">
                    <div data-alpaca-layout-binding="name"></div>
                    <div data-alpaca-layout-binding="email"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet">
                <h4 class="portlet-title">
                </h4>

                <div class="portlet-body">
                    <div data-alpaca-layout-binding="photo"></div>
                    <div data-alpaca-layout-binding="language"></div>
                </div>
            </div>
        </div>
    </div>
</div>