<style>
    html, body {
        margin: 0;
    }
    .terminal {
        display: block;
        position: absolute;
    }
</style>
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/term.js"></script>
<script>
    (function () {
        window.onload = function () {

            var socket = io.connect(((window.location.protocol === 'https:') ? 'wss://' : 'ws://') + '<%= url %>', {
                'sync disconnect on unload': true });

            socket.on('connect', function () {

                var term = new Terminal({
                    name: 'xterm-256color',
                    cols: 104,
                    rows: 41,
                    useStyle: true,
                    cursorBlink: true,
                    scrollback: 10000
                });

                socket.emit('init', '<%= app %>');

                term.on('data', function (data) {
                    // TODO implement this on the server
                    // var forbidden = ['Exec\\('];
                    // if (data == "\r") {
                    //     var lastCommand = $('div.terminal').find('span:last').parent().text();
                    //     if (new RegExp(forbidden.join("|"), "g").test(lastCommand)) {
                    //         alert("Invalid operation!");
                    //         return;
                    //     }
                    // }
                    socket.emit('data', data);
                });

                term.open(document.body);

                socket.on('data', function (data) {
                    term.write(data);
                });

                socket.on('disconnect', function () {
                    term.write('\r\n\n\u001B[0;1mCONNECTION CLOSED. \u001B[0m');
                    socket.disconnect();
                    term.destroy();
                });

                socket.on('error', function () {
                    term.write('\r\n\n\u001B[0;1mCONNECTION CLOSED. \u001B[0m');
                    socket.disconnect();
                    term.destroy();
                });

                socket.on('close', function () {
                    term.write('\r\n\n\u001B[0;1mCONNECTION CLOSED. \u001B[0m');
                    socket.disconnect();
                    term.destroy();
                });
            });
        };
    }).call(this);
</script>
<script>
    document.domain = 'webgap.eu';
</script>
