<% include ../../common/header.html %>

<div class="jumbotron">
    <div class="container">
        <h2>Help</h2>

        <p>Nothing to show, yet!</p>

        <p>Learn more <a href="/about">here &raquo;</a></p>
    </div>
</div>

<% include ../../common/footer.html %>