<% include ../../common/header.html %>

<div class="content">
    <div class="container">
        <div class="col-md-5">
            <div class="portlet">
                <h2 class="portlet-title">
                    <u><span class="glyphicon glyphicon-user image-with-margin"></span>&nbsp;Account</u>
                </h2>
                <div class="portlet-body">
                    <div class="col-lg-12">
                        <p>
                            <strong class="image-with-margin">Maximum Ram:&nbsp;</strong><%= user.account.maxRam %></br>
                            <strong class="image-with-margin">Maximum Space:&nbsp;</strong><%= user.account.maxSpace %></br>
                            <strong class="image-with-margin">Maximum Apps:&nbsp;</strong><%= user.account.maxApps %></br>
                            <strong class="image-with-margin">Maximum Slots:&nbsp;</strong><%= user.account.maxSlots %></br>
                            <strong class="image-with-margin">Start Date:&nbsp;</strong><%= user.account.startDate %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="portlet">
                <h2 class="portlet-title">
                    <u><span class="fa fa-compress image-with-margin"></span>&nbsp;Social Accounts</u>
                </h2>
                <div class="portlet-body">
                    <div class="text-center">
                        <a class="btn btn-social-icon btn-bitbucket"><i class="fa fa-bitbucket"></i></a>
                        <a class="btn btn-social-icon btn-dropbox"><i class="fa fa-dropbox"></i></a>
                        <a class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></a>
                        <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-microsoft"><i class="fa fa-windows"></i></a>
                        <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-yahoo"><i class="fa fa-yahoo"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="portlet">
                <h2 class="portlet-title">
                    <u><span class="glyphicon glyphicon-th image-with-margin"></span>&nbsp;Applications</u>
                </h2>
                <div class="portlet-body">
                    <div class="text-center">
                        <a class="btn btn-social-icon btn-bitbucket"><i class="fa fa-linux"></i></a>
                        <a class="btn btn-social-icon btn-bitbucket"><img src="/img/gap.png"/></a>
                        <a class="btn btn-social-icon btn-bitbucket"><i class="fa fa-linux"></i></a>
                        <a class="btn btn-social-icon btn-bitbucket"><i class="fa fa-linux"></i></a>
                        <a class="btn btn-social-icon btn-bitbucket"><i class="fa fa-linux"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../../common/footer.html %>