<% include ../../common/header.html %>

<div class="container">
    <!--div class="col-md-6" style="border-right: 1px solid #e3e3e3;">
        <div class="portlet">
            <h4 class="portlet-title">
                <span class="fa fa-user image-with-margin">&nbsp;Details</span>
            </h4>

            <div class="portlet-body">
                <div class="col-md-12">
                    <table class="table keyvalue-table">
                        <tbody>
                        <tr>
                            <td class="kv-key"><i class="fa fa-envelope-o kv-icon kv-icon-tertiary"></i>Email</td>
                            <td class="kv-value"><%=: user.email | ND %></td>
                        </tr>
                        <tr>
                            <td class="kv-key"><i class="fa fa-clock-o kv-icon kv-icon-tertiary"></i>Registration
                                Date
                            </td>
                            <td class="kv-value"><%= user.account.startDate %>&nbsp;(<%=: user.account.startDate |
                                formatTimeFromNow %>)
                            </td>
                        </tr>
                        <tr>
                            <td class="kv-key"><i class="fa fa-exchange kv-icon kv-icon-primary"></i>Maximum Ram
                            </td>
                            <td class="kv-value"><%=: user.account.maxRam | formatBytes %></td>
                        </tr>
                        <tr>
                            <td class="kv-key"><i class="fa fa-hdd-o kv-icon kv-icon-primary"></i>Maximum Space
                            </td>
                            <td class="kv-value"><%=: user.account.maxSpace | formatBytes %></td>
                        </tr>
                        <tr>
                            <td class="kv-key"><i class="fa fa-rocket kv-icon kv-icon-secondary"></i>Apps
                            </td>
                            <td class="kv-value"><%= user.applications.length %> in <%= user.account.maxApps %></td>
                        </tr>
                        <tr>
                            <td class="kv-key"><i class="fa fa-random kv-icon kv-icon-secondary"></i>Slots
                            </td>
                            <td class="kv-value">0 in <%= user.account.maxSlots %></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div-->
    <div class="col-md-12">
        <div class="portlet">
            <h4 class="portlet-title">
                <span class="fa fa-gears image-with-margin">&nbsp;My Applications</span>
            </h4>

            <div class="portlet-body">
                <p>My applications: <%= user.applications.length %></p>
                <div class="text-center">
                    <% if (applications && applications.length>0) { %>
                    <% applications.forEach(function(application) { %>
                    <div class="thumbnail-h">
                        <div class="thumbnail-h-logo">
                            <% if (application.logo) { %>
                            <img style="width: 48px; height:48px;" src="<%= application.logo %>"/>
                            <% } else { %>
                            <i style="font-size:48px;" class="fa fa-terminal"></i>
                            <% } %>
                        </div>
                        <div class="thumbnail-h-desc">
                            <b><%= application.name %></b> v<%= application.version %> (<%= application.access %>)
                        </div>
                        <div class="thumbnail-h-action">
                            <a class="btn btn-default btn-xs" title="Execute Service"
                               href="/service/sync/<%= application.name %>">
                                execute service
                            </a>
                            <a class="btn btn-default btn-xs" title="Remove Service"
                               href="/service/sync/<%= application.name %>">
                                remove
                            </a>
                        </div>
                    </div>
                    <% }); %>
                    <% } else { %>
                    <h3>No applications to show</h3>

                    <p>Visit the Applications Market</p>
                    <a href="/market/applications/list" style="width:100%" class="btn btn-default btn-sm">All
                        Applications</a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../../common/footer.html %>