<% include ../../common/header.html %>

<div class="container">
    <div class="layout-main-right layout-stack-sm">
        <div class="col-sm-2 layout-sidebar">
            <div class="nav-layout-sidebar-skip"><strong>Tab Navigation</strong> / <a href="#settings-content">Skip
                to Content</a></div>
            <ul id="myTab" class="nav nav-layout-sidebar nav-stacked">
                <li class="active"><a href="#profile-tab" data-toggle="tab"> <i class="fa fa-user"></i> &nbsp;&nbsp;Profile
                    Settings </a></li>
                <li><a href="#accounts-tab" data-toggle="tab"> <i class="fa fa-puzzle-piece"></i> &nbsp;&nbsp;Linked
                    Accounts </a></li>
            </ul>
        </div>
        <div class="col-md-10 layout-main">
            <div id="settings-content" class="tab-content stacked-content">
                <div class="tab-pane fade in active" id="profile-tab"><h3 class="content-title"><u>Edit Profile</u>
                </h3>

                    <p>Here you can update your personal information. </br></br> <strong>IMPORTANT:</strong> Please
                        keep your email address updated.</p> <br>
                    <% include ../form/alpaca.html %>
                </div>
                <div class="tab-pane fade in" id="accounts-tab">
                    <h3 class="content-title"><u>Linked Accounts</u></h3>

                    <p>Here you can add / revoke access to you social accounts. </br></br>
                        <strong>IMPORTANT:</strong> Social accounts are used along with you applications, revoking
                        access will prevent some applications from working.</p> <br>

                    <% providers.forEach(function(provider) { %>
                    <div class="thumbnail-h">
                        <div class="thumbnail-h-logo">
                                <span class="btn btn-social-icon btn-<%= provider.name %>">
                                    <i style="vertical-align: middle;"
                                       class="fa fa-<%= provider.name %>"></i>
                                </span>
                        </div>

                        <div class="thumbnail-h-desc">
                            <%= provider.name %>
                            <% if (user.identities.some(function(el) { return el.provider == provider.name
                            && provider.cloudStorage; })) { %>
                            <span class="fa fa-cloud" title="Is a supported cloud provider"></span>
                            <% }; %>
                        </div>
                        <div class="thumbnail-h-action">
                            <% if (user.identities.some(function(el) { return el.provider == provider.name;
                            })){ %>
                            <a class="btn btn-default btn-xs" title="Unlink your <%= provider.name %> account"
                               href="/auth/revoke/<%= provider.name %>">
                                Unlink your <%= provider.name %> account
                            </a>
                            <% } else { %>
                            <a class="btn btn-default btn-xs"
                               title="Connect your <%= provider.name %> account"
                               href="/auth/<%= provider.name %>">
                                Connect your <%= provider.name %> account
                            </a>
                            <% }; %>
                            <% if (user.identities.some(function(el) { return el.provider == provider.name
                            &&
                            provider.cloudStorage; })) { %>
                            <a class="btn btn-default btn-xs"
                               title="Make <%= provider.name %> your default cloud provider"
                               href="/account/cloud-provider/<%= provider.name %>">
                                Make <%= provider.name %> your default cloud provider
                            </a>
                            <% }; %>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../../common/footer.html %>