<% include ../../common/header.html %>

<script src="/js/vendor/jquery/jquery-terminal/jquery.mousewheel-min.js"></script>
<script src="/js/vendor/jquery/jquery-terminal/jquery.terminal-min.js"></script>
<link href="/css/jquery-terminal/jquery.terminal.css" rel="stylesheet"/>

<div class="content">
    <div class="container">
        <div id="term" style="height: 600px; width: 600px"></div>
    </div>
</div>

<script>
    jQuery(document).ready(function ($) {
        var id = 1;
        $('#term').terminal(function (command, term) {
            if (command == 'help') {
                term.echo("available commands are mysql, js, test");
            } else if (command == 'test') {
                term.push(function (command, term) {
                    if (command == 'help') {
                        term.echo('if you type ping it will display pong');
                    } else if (command == 'ping') {
                        term.echo('pong');
                    } else {
                        term.echo('unknown command ' + command);
                    }
                }, {
                    prompt: 'test> ',
                    name: 'test'
                });
            } else if (command == "js") {
                term.push(function (command, term) {
                    var result = window.eval(command);
                    if (result != undefined) {
                        term.echo(String(result));
                    }
                }, {
                    name: 'js',
                    prompt: 'js> '
                });
            } else if (command == 'mysql') {
                term.push(function (command, term) {
                    term.pause();
                    $.jrpc("mysql-rpc-demo.php",
                            "query",
                            [command],
                            function (data) {
                                term.resume();
                                if (data.error && data.error.message) {
                                    term.error(data.error.message);
                                } else {
                                    if (typeof data.result == 'boolean') {
                                        term.echo(data.result ? 'success' : 'fail');
                                    } else {
                                        var len = data.result.length;
                                        for (var i = 0; i < len; ++i) {
                                            term.echo(data.result[i].join(' | '));
                                        }
                                    }
                                }
                            },
                            function (xhr, status, error) {
                                term.error('[AJAX] ' + status +
                                ' - Server reponse is: \n' +
                                xhr.responseText);
                                term.resume();
                            });
                }, {
                    greetings: "This is example of using mysql from terminal\n\
you are allowed to execute: select, insert, update and delete from/to table:\n\
    table test(integer_value integer, varchar_value varchar(255))",
                    prompt: "mysql> "
                });
            } else {
                term.echo("unknow command " + command);
            }
        }, {
            greetings: "multiply terminals demo use help to see available commands",
            name: 'js_demo',
            onResize: function(term) {
                for (var i=resize.length;i--;) {
                    resize[i](term);
                }
            }

        });
    });

    (function () {
        window.onload = function () {
            var socket = io.connect(((window.location.protocol === 'https:') ? 'wss://' : 'ws://') + '<%= url %>');

            socket.on('connect', function () {
                var term = new Terminal({
                    name: 'xterm-256color',
                    cols: 104,
                    rows: 41,
                    useStyle: true,
                    cursorBlink: true,
                    scrollback: 10000
                });

                term.on('data', function (data) {
                    //todo implement this on the server
                    var forbidden = ['Exec\\('];
                    if (data == "\r") {
                        var lastCommand = $('div.terminal').find('span:last').parent().text();
                        if (new RegExp(forbidden.join("|"), "g").test(lastCommand)) {
                            alert("Invalid operation!");
                            return;
                        }
                    }
                    socket.emit('data', data);
                });

                term.open(document.body);

                socket.on('data', function (data) {
                    term.write(data);
                });

                socket.on('disconnect', function () {
                    socket.disconnect();
                    term.destroy();
                });

                socket.on('error', function () {
                    socket.disconnect();
                    term.destroy();
                });

                socket.on('close', function () {
                    socket.disconnect();
                    term.destroy();
                });
            });
        };
    }).call(this);
</script>

<% include ../../common/footer.html %>